@import "../../node_modules/bootstrap/scss/functions";

$primary: #00ff00;
$body-color: #00ff00;
$body-bg: #000000;
$font-family-sans-serif: "Inconsolata", serif;

$active-color: #00c400;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";


@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// https://fonts.google.com/specimen/Inconsolata
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.inconsolata-text {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    color: $body-color;
    background-color: $body-bg;
}

.btn {
  color: $btn-color;
  background-color: $body-bg;
  border-color: $primary;
}

.form-control {
    border-color: $primary;
}

.navbar-brand {
    font-size: 2rem;
    color: $body-color;
}

.navbar-brand:hover {
    font-size: 2.1rem;
    color: $active-color;
}

.nav-link {
    font-size: 1.3rem;
    color: $body-color;
}

.navbar-nav .nav-link.active {
    font-size: 1.4rem;
    color: $active-color;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    font-size: 1.4rem;
    color: $active-color;
    font-weight: bold;
}

.btn-outline-primary:hover {
    background-color: $primary;
    border-color: $primary;
    color: $body-bg;
}

.card {
    border-color: $primary;
}

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";
